# Careful with NPM ignore
# https://medium.com/@jdxcode/for-the-love-of-god-dont-use-npmignore-f93c08909d8d
.idea
src/
coverage/
*.log
docs/

# ignore webpack
webpack*.js
# ignore yml files
\.*.yml
# ignore the ts files
ts*.json
jest.*.json
yarn.lock
.babelrc


uglify.json
package.json
CONTRIBUTING.md
.npmignore
.circleci