language: node_js
node_js:
 - "8"
install:
 - npm install
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
# for the time being, these tests will have to be manually run
- if [ "$TRAVIS_EVENT_TYPE" = "cron" ]; then npm run test-e2e; fi
- if [ "$TRAVIS_EVENT_TYPE" != "cron" ]; then npm run test; fi
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
notifications:
  email:
    recipients:
      - mikedidomizio@gmail.com
    on_success: never
    on_failure: change
